{% extends "simple/base.html" %}
{% from 'simple/icons.html' import icon_big %}
{% block content %}
<div class="index">
    <div class="title"><h1>GeorgeX</h1></div>
    {% include 'simple/simple_search.html' %}
</div>
{% endblock %}
